
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    /*text-align: center;*/
    margin-bottom: 20px;
}

form , .voltar {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    .texto {
        text-align: center;
        color: black;
        font-family: Arial, sans-serif;
    }
    /*border: 4px solid blueviolet;*/
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #2980b9;
}

a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

a button {
    background-color: #FF2500;
    color: #fff;
}

a button:hover {
    background-color: #FF2500;
}

input[type="reset"] {
    background-color: #FF7100;
    margin-left: 10px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
}
