body {
    /*font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;*/
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    /*border: 4px solid blueviolet;*/
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
}

label {
    font-weight: bold;
}

select, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    /*background-color: #007bff;*/
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.adicionar button {
    background-color: #FF7100;
}

.fechar button {
    background-color: #007bff;
}

.voltar button {
    background-color: #FF2500;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    /*background-color: #007bff;*/
    color: #fff;
}

label.total {
    font-weight: bold;
    font-size: 18px;
}

button.close-sale {
    background-color: #28a745;
}

tr:nth-child(odd) {
    background-color: #f2f2f2; /* Cor cinza para linhas pares */
}