/*@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');*/


/* Estilos para a classe "titulo" */
.titulo {
    text-align: center;
    margin-bottom: 20px;
    /*font-family: 'Rubik', sans-serif;*/
    font-family: Arial, sans-serif;
}

.titulo h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

/* Estilos para a classe "botao" */
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao a {
    text-decoration: none;
    margin: 0 10px;
}

.botao button {
    /*font-family: 'Rubik', sans-serif;*/
    font-family: Arial, sans-serif;
    background-color: #FF2500;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botao button:hover {
    background-color: #c0392b;
}

