body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/*button {
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}*/

.botaoExcluir button {
    padding: 5px 10px;
    background-color: #FF2500;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botaoEditar button {
    padding: 5px 10px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botaoVoltarInicio button {
    padding: 10px 20px;
    background-color: #FF7100;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
.botaoVoltar {
    padding: 5px 10px;
    background-color: #FF7100;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 50px;
}

.botaoInicio {
    padding: 5px 10px;
    background-color: #FF7100;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 50px;
}
*/

.botaoExcluir button:hover {
    background-color: #FF0000;
}

.botaoEditar button:hover {
    background-color: #216592;
}

.botaoVoltarInicio button:hover {
    background-color: #FF4600;
}

a {
    text-decoration: none;
    margin-top: 10px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2; /* Cor cinza para linhas pares */
}